body {
    font-family: Times New Roman, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

button {
    padding: 10 20;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
